
<div class="w-100 text-center row p-2 m-0" *ngIf="users?.length > 0">

  <div class="col-12 col-md-4 col-lg-3 ml-auto mr-auto mt-2" *ngFor="let user of users" >
    <div class="card  w-100">
      <div class="card-body">
        <h2 class="card-title">{{user.firstName}} {{user.lastName}}</h2>
        <a type="button" class="btn btn-info" [routerLink]="['./user-detail/', user.id]">Profile details</a>
      </div>
    </div>
  </div>
</div>
<div class="w-100 text-center row p-2 m-0" *ngIf="users?.length == 0 || users == null">
  <div class="alert alert-warning w-50 m-auto" role="alert">
    No users to show, <button type="button" class="btn btn-link m-0 p-0" (click)="getUsers()">try again!</button>
  </div>
</div>
