<div *ngIf="userInfo" class=" mb-auto mt-5">
  <div class="card shadow p-3 w-75 m-auto ">
    <div class="row justify-content-center">
      <div class="col-lg-3 order-lg-2">
        <div class="text-center">
            <img [src]="userInfo.avatar" class="rounded-circle">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="text-center">
        <h3>
         {{userInfo.firstName}} {{userInfo.lastName}}
        </h3>
        <div class="h6 font-weight-300">
          <i class="fa fa-envelope"></i> &nbsp; {{userInfo.email}}
        </div>
      </div>
    </div>
    <div>
      <button routerLink="/home" type="button" class="btn btn-secondary"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Back to users</button>
    </div>
  </div>
</div>

<div class="w-100 p-3" *ngIf="!userInfo">
  <div class="alert alert-warning w-50 m-auto" role="alert">
    No user info available, try to <a routerLink="/home">go back</a>
  </div>
</div>

